<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit Product</h1>
<form action="/products/<%=product._id%>?_method=PUT" method="POST">
   
    mame: <input type="text" name="name" value="<%=product.name%>" /><br />
    description:  <input type="text" name="author" value="<%=product.name%>" /><br />
    image: <input type="text" name="img" value="<%=product.name%>"> 
    price: <input type="number" name="price" value="<%=product.name%>">
    qty: <input type="number" name="qty" value="<%=product.name%>">
    <input type="submit" value="Submit Changes" />
</body>
</html>