<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/public/style.css">
	<title>Document</title>

</head>
<body>
    <h1> RTB Timepieces Inc. </h1>

		<ul>
			<% Products.forEach(product => { %>
				<li>
				 <a href="/products/<%=product._id %>"> <%=product.name %>   </a>
				  <img src="<%= product.img%>">
				  <form action="/products/<%= product._id %>?_method=DELETE" method="POST">
					<input type="submit" value="DELETE" />
				  </form>
				 <div> <a href="/products/<%=product._id %>/edit">Edit</a> </div>
				</li>
				<% }) %>
		</ul>

<nav>
	<a href="/products/new">Add To The Collection</a>
</nav>
</body>
</html>


<style>

ul{
	list-style-type: none;
}

img{
	padding: 5px;
	grid-template-rows: auto;
}

	input{
		display: none;
	}

a{
	padding: 5px;
	font-size: large;
}

a:hover{
	font-size: x-large;
	text-transform: capitalize;
	text-decoration: underline;
	color: green;
}

	div{
		display: none;
	}
body{
	background: linear-gradient(to bottom right,lightgrey);
}
</style>