<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="show">
            <a href="/products/">Home</a>
            
        </nav>
    </header>

    <ul class="List">
        <li id="title"><%=product.name %></li>
        <li id="description"><%=product.description %></li>
        <li>Quantity in Stock: <%=product.qty%></li>
        <li id="price">Asking Price: $<%=product.price%></li>
        <img src="<%=product.img %>" alt="product picture">
    </ul>

    <div class="edit">
        <a href="/products/<%= product._id %>/edit"><button type="button" id="edit-btn">Update Watch</button></a>

        <form action="/products/<%= product._id%>?_method=DELETE" method="POST">
            <input id="delete" type="submit" value="Remove Listing" id="delete-btn">
        </form>

        <form method="POST" action="/products/<%= product._id %>/buy">
        <% if(product.qty <= 0){ %>
            <button type="hidden"></button>
            <h4>Out of stock</h4>
        <% } else { %>
            <button id="buy-btn"type="submit">Buy</button>
        <% } %>
        </form>
    </div>

</body>
</html>

<style>
input#delete{
    position: relative;
    margin-top: 100%;
}

li{
    margin: 5px;
}

li#description{
    padding: 10px;
    font-style: italic;
    font-size:large;
}

a{
    display: flex;
    justify-content: center;
    text-align: center;
}

    button#buy-btn{
display: block;
max width: 300px;
margin: auto;
align-items: center;
text-align: center;
display: flex;
display: block;
background-color: green;
color: white;
padding: 10px 10px;
border-radius: 50%;
    }

button#buy-btn:hover{
background-color: white;
color: green;
}


li#title{
    font-size: larger;
    margin: 15px;
    font-weight: bold;
}
</style>