<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="show">
            <a href="/products/">Home</a>
            
        </nav>
    </header>

    <ul class="List">
        <li id="title"><%=product.name %></li>
        <li id="description"><%=product.description %></li>
        <li>Quantity in Stock: <%=product.qty%></li>
        <li id="price">Asking Price: $<%=product.price%></li>
        <img src="<%=product.img %>" alt="product picture">
    </ul>

    <div class="edit">
        <a href="/products/<%= product._id %>/edit"><button type="button" id="edit-btn">Update Watch</button></a>

        <form action="/products/<%= product._id%>?_method=DELETE" method="POST">
            <input id="delete" type="submit" value="Remove Listing" id="delete-btn">
        </form>

        <form method="POST" action="/products/<%= product._id %>/buy">
        <% if(product.qty <= 0){ %>
            <button type="hidden"></button>
            <h4>Out of stock</h4>
        <% } else { %>
            <button id="buy-btn"type="submit">Buy</button>
        <% } %>
        </form>
    </div>

</body>
</html>

<style>

html{
    padding: 0%;
    margin: auto;
}

body{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    align-items: center;
    text-align: center;
}



form{
    display: inline-block;
    margin-left: -85px;
    margin-right: 1px;
    text-align: left;
    position: sticky;
    justify-content: center;
}

input#delete{
    text-align: left;
    position: relative;
    padding: -30px;
    margin-top: 150%;
    margin-left: -10px;
}

li{
    margin: 5px;
}

li#description{
    padding: 10px;
    font-style: italic;
    font-size:large;
}

div.edit{
    justify-content: center;
}

a{

    font-size: 135%;
    display: flex;
    justify-content: center;
    text-align: center;
}

    button#buy-btn{
        --background: green;
--text: #fff;
--cart: #fff;
--tick: var(--background);
position: relative;
border: none;
background: none;
padding: 8px 28px;
border-radius: 8px;
-webkit-appearance: none;
-webkit-tap-highlight-color: transparent;
-webkit-mask-image: -webkit-radial-gradient(white, black);
overflow: hidden;
cursor: pointer;
text-align: center;
min-width: 144px;
color: var(--text);
background: var(--background);
transform: scale(var(--scale, 1));
transition: transform 0.4s cubic-bezier(0.36, 1.01, 0.32, 1.27);
}



button#buy-btn:hover{
background-color: white;
color: green;
}


li#title{
    font-size: larger;
    margin: 15px;
    font-weight: bold;
}

li#price{
    padding: 5px;
}

</style>